@use "../abstracts/" as *;

.app--container {
	display: grid;
	grid-template-rows: auto 1fr;
	grid-template-areas:
		"header header"
		"sidebar main";
	height: 100vh;
	gap: 2rem;

	@include mq(small) {
		gap: 2rem;
	}

	@include mq(medium) {
		gap: 2rem;
	}

	@include mq(large) {
		gap: 0rem;
	}
}

.sidebar {
	grid-area: sidebar;
}

header {
	grid-area: header;
}

main {
	grid-area: main;
}
