@use "../abstracts/" as *;

.card {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(3, auto);
	grid-column-gap: 0px;
	grid-row-gap: 0px;
	gap: $card-flow-spacing;
	padding: $card-padding;
	background-color: $card-background-default;
	font-family: $card-font-family;
	color: $card-color-default;
	line-height: $card-line-height;
	box-shadow: $card-shadow;
	border-radius: $card-border-radius;

	&__heading {
		@include heading($card-heading-font-size, $card-heading-color-default);
		grid-area: 1 / 1 / 2 / 2;
	}

	&__content {
		@include body($card-content-font-size, $card-content-color-default);
		grid-area: 2 / 1 / 3 / 2;
	}

	&__footer {
		@include footer($card-footer-font-size, $card-footer-color-default);
		grid-area: 3 / 1 / 4 / 2;
	}
}
