@use '../abstracts' as *;

.nav {
  --flex-column-gap: #{$navigation-gap};
  list-style: none;
  font-family: $navigation-font-family;
  font-weight: $navigation-font-weight;

  li {
    min-width: 44px;
    min-height: 44px;
    display: flex;
    align-items: center;
  }

  a {
    color: $navigation-color;
    text-decoration: $navigation-link-text-decoration;
    display: inline-flex;
    align-items: center;

    &:is(:hover, :focus) {
      color: $navigation-color-hover;
    }
  }
}
