---
import * as data from "@/data/index.md"
import Layout from "@/layouts/BaseLayout.astro"
---

<Layout title="Let's get to work">
	<div class="container flow">
		<h1 class="heading-1">{data.frontmatter.title}</h1>
		<p>{data.frontmatter.content}</p>

		<p>{data.frontmatter.content2}</p>

		<p>{data.frontmatter.content3}</p>
	</div>
</Layout>
