---
import Layout from "@/layouts/BaseLayout.astro"

import landingNav from "@/content/landing/index"
---

<Layout title="Pasamelo">
	<div class="container flow">
		<div class="masonry">
			{
				landingNav.map((item, index) => (
					<div
						class={`card masonry--${item.links.length > 3 ? "vertical" : "horizontal"}`}
					>
						<h3 class="card__heading">{item.title}</h3>
						<p class="card__content landing__nav nav nav--toggle">
							{item.links.map((link, index) => (
								<a href={link.href}>{link.title}</a>
							))}
						</p>
					</div>
				))
			}
		</div>
	</div>
</Layout>
