---
import Layout from "@/layouts/BaseLayout.astro"
---

<Layout title="Let's get to work">
	<div class="container flow">
		<h1 class="heading-1">Let's go</h1>
		<h2 class="heading-2">Subtitle</h2>
		<h3 class="heading-3">Sub-subtitle</h3>
		<h4 class="heading-4">Sub-sub-subtitle</h4>
		<h5 class="heading-5">Sub-sub-sub-subtitle</h5>
		<h6 class="heading-6">Sub-sub-sub-sub-subtitle</h6>

		<div class="card">
			<header class="card__heading">
				<h2 class="heading-2">Card title</h2>
			</header>
			<p class="card__content">
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio
				doloribus harum quam adipisci rerum. Illo, optio quis odio blanditiis,
				aut nostrum ipsum hic vel, vero quasi quidem aliquid! Perferendis, sit.
			</p>

			<footer class="card__footer">
				<button class="button" data-type="primary">hola</button>
			</footer>
		</div>
		<p>
			Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laborum nulla
			repellendus dolore quam quas? Nisi eaque veniam dolorem enim. Odit
			incidunt nisi dignissimos facilis perspiciatis quidem accusantium at
			consectetur minus.
		</p>

		<p>
			Aperiam non nulla recusandae totam atque officia debitis tenetur, natus
			veritatis eius perferendis libero earum voluptatum doloremque dignissimos,
			ut laborum illum eligendi autem ipsa quaerat. Dolorum consequatur ipsum
			harum ut
		</p>

		<p>
			Dolore molestias et esse neque beatae atque. Quas necessitatibus,
			quibusdam est vero neque corporis doloremque consectetur error, dicta
			animi commodi! Accusamus distinctio dolor eligendi sint repudiandae
			sapiente adipisci nemo doloribus?
		</p>
	</div>
</Layout>
