---
import Layout from "@/layouts/BaseLayout.astro"

import landingNav from "@/content/landing/index.ts"
---

<Layout title="Pasamelo">
	<div class="container flow">
		<div class="even-columns">
			{
				landingNav.map((item, index) => (
					<div class="card">
						<h3 class="card__heading">{item.title}</h3>
						<p class="card__content landing__nav">
							{item.links.map((link, index) => (
								<a href={link.href}>{link.title}</a>
							))}
						</p>
					</div>
				))
			}
		</div>
	</div>
</Layout>
