---
import Layout from "@/layouts/BaseLayout.astro"
---

<Layout title="Let's get to work">
	<div class="container flow">
		<h1 class="heading-1">Let's go</h1>
		<h2 class="heading-2">Subtitle</h2>
		<h3 class="heading-3">Sub-subtitle</h3>
		<h4 class="heading-4">Sub-sub-subtitle</h4>
		<h5 class="heading-5">Sub-sub-sub-subtitle</h5>
		<h6 class="heading-6">Sub-sub-sub-sub-subtitle</h6>

		<div class="card">
			<h3 class="card__heading">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit
			</h3>
			<main class="card__content">
				<p>
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias
					doloremque delectus blanditiis, dolor ad veniam vero asperiores, modi
					dolores reprehenderit labore quasi expedita voluptatibus fugiat
					adipisci a harum omnis natus.
				</p>
			</main>
			<div class="card__footer">
				<button class="button" data-type="primary"> share </button>
				<button class="button" data-type="accent"> like </button>
			</div>
		</div>

		<form action="/" class="contact-form">
			<div class="form-group">
				<label for="name"></label>
				<input type="text" id="name" name="name" placeholder="Name" />
			</div>

			<div class="form-group">
				<label for="email"></label>
				<input type="email" id="email" name="email" placeholder="Email" />
			</div>

			<footer>
				<button class="button" data-type="primary"> aceptar</button>
				<button class="button" data-type="outline"> deny</button>
			</footer>
		</form>

		<nav aria-label="primary navigation">
			<ul class="nav | flex-group">
				<li><a href="/">Home</a></li>
				<li><a href="/">Page 3</a></li>
				<li><a href="/" class="skip-navigation">Page 4</a></li>
				<li><a href="/">Page 2</a></li>
			</ul>
		</nav>

		<p>
			Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laborum nulla
			repellendus dolore quam quas? Nisi eaque veniam dolorem enim. Odit
			incidunt nisi dignissimos facilis perspiciatis quidem accusantium at
			consectetur minus.
		</p>

		<p>
			Aperiam non nulla recusandae totam atque officia debitis tenetur, natus
			veritatis eius perferendis libero earum voluptatum doloremque dignissimos,
			ut laborum illum eligendi autem ipsa quaerat. Dolorum consequatur ipsum
			harum ut
		</p>

		<p>
			Dolore molestias et esse neque beatae atque. Quas necessitatibus,
			quibusdam est vero neque corporis doloremque consectetur error, dicta
			animi commodi! Accusamus distinctio dolor eligendi sint repudiandae
			sapiente adipisci nemo doloribus?
		</p>
	</div>
</Layout>
