---
import BaseHead from "@/components/BaseHead.astro"
import SiteMenu from "@/components/SiteMenu.astro"
import SiteHeader from "@/components/SiteHeader.astro"
import "@/styles/main.scss"
const { title } = Astro.props
---

<!doctype html>
<html lang="en">
	<BaseHead {title} />
	<body>
		<div class="app__container">
			<SiteHeader />
			<!-- <SiteMenu /> -->
			<main id="main">
				<slot />
			</main>
			<!-- <SiteFooter /> -->
		</div>
	</body>
</html>
